/* General */
body {
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Calendario */
._720kb-datepicker-calendar-day._720kb-datepicker-today {
    background: #e63946;
    color: #f1faee;
}

/* Modal */
.modal-body {
    overflow: auto;
    overflow-x: hidden;
}

/* Navbar */
.navbar.navbar-default.navbar-fixed-bottom {
    z-index: 0;
}

/* Toast Styles */
.toast-title {
    font-weight: bold;
}

.toast-message {
    word-wrap: break-word;
}

.toast-message a, 
.toast-message label {
    color: #f1faee;
}

.toast-message a:hover {
    color: #a8dadc;
    text-decoration: none;
}

#toast-container {
    position: fixed;
    z-index: 9999;
}

#toast-container > div {
    background-position: 15px center;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 0 12px #999999;
    color: #f1faee;
    opacity: 0.8;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
}

/* Toast Positions */
.toast-top-right {
    right: 40%;
    top: 12px;
}

.toast-top-left {
    left: 12px;
    top: 12px;
}

.toast-bottom-right {
    bottom: 12px;
    right: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

/* Toast Variants */
.toast {
    background-color: #1d3557;
}

.toast-success {
    background-color: #2a9d8f;
}

.toast-error {
    background-color: #e63946;
}

.toast-info {
    background-color: #457b9d;
}

.toast-warning {
    background-color: #f4a261;
}

/* Hover Effects */
#toast-container > :hover {
    box-shadow: 0 0 12px #000000;
    cursor: pointer;
    opacity: 1;
}

/* Contenedor del Spinner */
#spinerContainer {
    display: none; /* Ocultado por defecto */
    position: fixed; /* Fijo para cubrir toda la ventana */
    top: 0; /* Parte superior */
    left: 0; /* Parte izquierda */
    right: 0; /* Parte derecha */
    bottom: 0; /* Parte inferior */
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background: rgba(0, 0, 0, 0.7); /* Fondo negro semi-transparente */
    z-index: 10000; /* Asegura que esté por encima de otros elementos */
    display: flex; /* Flexbox para centrar */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Spinner */
#spinerContainer .spinner {
    border: 16px solid #f1faee; /* Color del borde */
    border-top: 16px solid #1d3557; /* Color del borde superior */
    border-radius: 50%; /* Hace que sea circular */
    width: 120px; /* Ancho del spinner */
    height: 120px; /* Alto del spinner */
    animation: spin 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite; /* Elasticidad */
}

/* Animación del Spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(390deg); } /* Gira un poco más */
    100% { transform: rotate(360deg); } /* Vuelve al final */
}

/* Responsive */
@media (max-width: 600px) {
    #spinerContainer .spinner {
        width: 80px; /* Ancho para pantallas pequeñas */
        height: 80px; /* Alto para pantallas pequeñas */
        border-width: 8px; /* Grosor del borde para pantallas pequeñas */
    }
}

/* Responsive Design */
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 108px;
    }
}

@media all and (min-width: 241px) and (max-width: 320px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 128px;
    }
}

@media all and (min-width: 321px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 192px;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 300px;
    }
}

@media all and (min-width: 769px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 300px;
    }
}
.panel-heading-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel-info>.panel-heading {
    color: #ecf0f1; /* Color del texto del encabezado */
    background-color: #34495e; /* Color de fondo más oscuro */
    border-color: #1abc9c; /* Borde inferior del panel */
}
.btn-info {
    color: #fff; /* Texto blanco */
    background-color: #1abc9c; /* Color de fondo más oscuro */
    border-color: #1a9c87; /* Un borde ligeramente más oscuro */
}
.btn-info:hover {
    color: #fff; /* Texto blanco */
    background-color: #17a589; /* Verde más oscuro */
    border-color: #148f77; /* Bordes en un tono oscuro */
}

/* Colores principales de la aplicación */
:root {
    --color-principal: #2c3e50; /* Azul principal */
    --color-secundario: #6c757d; /* Gris secundario */
    --color-info: #d9edf7; /* Color de info */
    --color-exito: #28a745; /* Verde para éxito */
    --color-error: #dc3545; /* Rojo para errores */
}

/* Clase para el fondo de información */
.table > tbody > tr.info > td,
.table > tbody > tr.info > th {
    background-color: var(--color-info);
    border-bottom: 2px solid #1abc9c;
}


.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info{
    background-color: var(--color-principal);
    color: #ecf0f1;
}


.tooltipConsultRight{
    word-break: break-all;
    position: absolute;
    top: 0px;
    color: #fff;
    border-radius: 3px;
    padding: 6px 6px;
    background: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    right: 165px;
    min-width: 100%;
    z-index: 1000;
}
  
.tooltipConsultRight::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid rgba(0,0,0, 1);
    top: 10%;
    left: 100%;
    z-index: 1000;
}
    
.tooltipConsultLeft{
    word-break: break-all;
    position: absolute;
    top: 0px;
    color: #fff;
    border-radius: 3px;
    padding: 6px 6px;
    background: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    right: 165px;
    min-width: 100%;
    z-index: 1000;
}
    
.tooltipConsultLeft::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid rgba(0,0,0, 1);
    top: 10%;
    left: 100%;
    z-index: 1000;
}

#alertaPago{
    z-index: 100;
    position: absolute;
}

.table-responsive{
    max-height: 50vh;
    overflow: auto;
}
    
.iconExpiredProducts{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 70px;
    color: #BD362F;
    opacity: 0.8;
    display: none;
}
.modalExpiredProducts{
    border-radius: 10px;
    width: 250px;
    max-height: 250px;
    position: absolute;
    background: white;
    z-index: 1000;
    overflow: auto;
    left: 8px;
    top: 70px;
    display: none;
}
.modalImpulse p{
    background: #3498db;
    color: white;
    text-align: center;
    font-weight: bold;
}

.tableAbm{
    overflow: auto;
}


.btnModalContainer{
    padding: 10px;
}

.containerTablesActive{
    text-align: center;
    background: #429B46;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    min-height: 70px;
}

.containerTablesInactive{
    text-align: center;
    background: #E82727;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    min-height: 70px;
}

.productForOrder{
    text-align: center;
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    border: 1px solid gray;
    border-radius: 15px;
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.bolder{
    font-weight: bolder;
}

